<!DOCTYPE html>
<html>

<head>
<title>That's Me</title>
<meta charset = "utf-8" >
</head>
<style>
	header {
		font-family: calibri;
		color: violet;
	}
</style>
<body>
{{> header}}
 
{{> footer}}
</body> 

</html>
