<!DOCTYPE html>
<html>

<head>
<title>Home Page</title>
<meta charset = "utf-8" >
<style>
	div {
		font-family: 'Trebuchet MS';
		color: rgb(211, 36, 211);
	}
</style>
</head>
<body>
<h1>...We'll be right Back!</h1>
<div>
<p>The site is currently being updated... We will be back soon.</p>
</div>

</body> 

</html>